<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Agency Profile Page</title>
	<link rel="stylesheet" href="css/style-agency.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
	<header class="header">
		<div class="header-img"></div>
	</header>
		<div class="stars">
            <h3>Rate Us</h3>
			<b-form-rating v-model="value" class="star" data-star="1">&#9733;</b-form-rating>
			<b-form-rating v-model="value" class="star" data-star="2">&#9733;</b-form-rating>
			<b-form-rating v-model="value" class="star" data-star="3">&#9733;</b-form-rating>
			<b-form-rating v-model="value" class="star" data-star="4">&#9733;</b-form-rating>
			<b-form-rating v-model="value" class="star" data-star="5">&#9733;</b-form-rating>
		</div>
        <div class="rating-selection">
			<div class="rating-selection">
		        <input type="hidden" name="rating" value="" id="rating">
	        </div>
		</div>
        <div class="about-container">
            <h2>About Us</h2>
            <p>Main description of the agency here.</p>
            <h3>Header 1</h3>
            <p>Description of header 1 here.</p>
            <h3>Header 2</h3>
            <p>Description of header 2 here.</p>
            <h3>Header 3</h3>
            <p>Description of header 3 here.</p>
            <h3>Header 4</h3>
            <p>Description of header 4 here.</p>
            <h3>Header 5</h3>
            <p>Description of header 5 here.</p>
        </div>
        <div class="rating-summary">
            <h2>Rating Summary</h2>
            <div class="average-rating">4.5</div>
            <div class="rating-bars">
                <div class="rating-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="rating-bar" style="height: 30%;"></div>
                <div class="rating-bar" style="height: 15%;"></div>
                <div class="rating-bar" style="height: 10%;"></div>
                <div class="rating-bar" style="height: 25%;"></div>
            </div>
        </div>
        <div class="review-container">
            <h2>Reviews</h2>
            <div class="container">
            <!-- Filter options -->
            <div class="row">
                <div class="col-md-4 mb-2">
                <select class="form-control">
                    <option value="recent">Most recent</option>
                    <option value="oldest">Oldest</option>
                </select>
                </div>
                <div class="col-md-4 mb-2">
                <select class="form-control">
                    <option value="highest">Highest rating</option>
                    <option value="lowest">Lowest rating</option>
                </select>
                </div>
                <div class="col-md-4 mb-2">
                <button type="button" class="btn btn-primary">Filter</button>
                </div>
            </div>
            
            <!-- Comment review section -->
            <div class="row">
                <div class="col-md-2">
                <img src="profile_picture.jpg" alt="Profile Picture" class="img-thumbnail">
                </div>
                <div class="col-md-10">
                <form>
                    <div class="form-group">
                    <label for="comment">Add a comment:</label>
                    <textarea class="form-control" rows="3" id="comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </div>
            </div>
    
        <!-- Review list -->
        <div class="row">
        <div class="col-md-12">
        <hr>
        <div class="media">
            <img src="profile_picture.jpg" alt="Profile Picture" class="mr-3 rounded-circle" style="width:60px;">
            <div class="media-body">
            <h4>John Doe <small><i>Posted on February 19, 2023</i></small></h4>
            <div class="rating">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum lobortis erat. In hac habitasse platea dictumst. Proin non eleifend elit. Donec lacinia justo at nisi tincidunt suscipit. Aenean eget metus id mi vehicula vestibulum. Nullam faucibus tellus nec sapien luctus, sit amet semper est euismod. Curabitur eget enim ac lectus lobortis feugiat.</p>
            <div class="float-left">
                <button type="button" class="btn btn-sm btn-outline-success">
                <i class="fa fa-thumbs-up"></i> 10
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-comment"></i>
                </button>
            </div>
            </div>
        </div>
	</div>

</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
    <script>
            export default {
              data() {
                return {
                  value: 3
                }
              }
            }
    </script>
</html>
